### é¡Œç›®
    ç”±æ‰‹å‹•çš„æŠ€å·§ä¾†é€²è¡Œé¸æ“‡ featureï¼Œä»¥ Bank ç‚ºç¯„ä¾‹é€²è¡Œè³‡æ–™å‰è™•ç†ï¼Œæ•´ç†å¾Œçš„è³‡æ–™ï¼Œä»¥ CSV çš„æ ¼å¼è¼¸å‡ºï¼Œè™•ç†ä¹‹å¾Œçš„è³‡æ–™é›†ï¼Œä»¥ linear regression ï¼ˆè‡³å°‘åŒ…å«ç·šæ€§ä»¥åŠéç·šæ€§çš„å…©ç¨®æ©Ÿåˆ¶ï¼‰é€²è¡Œé æ¸¬ã€‚

In [332]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore", category=FutureWarning)

# è®€å–è³‡æ–™é›†
data = pd.read_csv("../../data/bank/bank-full.csv", sep=";", header="infer")
print("è³‡æ–™é›†å¤§å°:", data.shape, "\n")
print("æ¬„ä½:", data.columns.tolist(), "\n")
print(data.head(), "\n")

data.isnull().sum()

è³‡æ–™é›†å¤§å°: (45211, 17)

æ¬„ä½: ['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may       261         1     -1         0  unknown  no
1  unknown    5   may       151         1     -1         0  unknown  no
2  unknown    5   may        76         1     -1         0  unknown  no
3  unknown    5   may        92         1     -1         0  unknown  no
4  unknown    5   may       198         1     -1         0  unknown  no

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

### è™•ç†äºŒå…ƒé¡åˆ¥è³‡æ–™

In [333]:
## è™•ç†äºŒå…ƒé¡åˆ¥è³‡æ–™
data.y = data.y.map({"yes": 1, "no": 0})
data.default = data.default.map({"yes": 1, "no": 0})
data.housing = data.housing.map({"yes": 1, "no": 0})
data.loan = data.loan.map({"yes": 1, "no": 0})

### è™•ç† Unknown æ¬„ä½

In [334]:
# æª¢æŸ¥å„æ¬„ä½æœ‰å¤šå°‘ "unknown" å€¼
unknown_counts = {}
for col in data.columns:
    # å­—ä¸²æ¬„ä½æ‰éœ€è¦æª¢æŸ¥ "unknown"
    if data[col].dtype == "object":
        count = (data[col] == "unknown").sum()
        if count > 0:
            unknown_counts[col] = count

# é¡¯ç¤ºçµæœ
if unknown_counts:
    print("å«æœ‰ 'unknown' å€¼çš„æ¬„ä½:")
    for col, count in unknown_counts.items():
        print(f"{col}: {count} ç­†")
else:
    print("æ²’æœ‰æ¬„ä½å« 'unknown' å€¼")

# è™•ç† 'unknown' å€¼æ¬„ä½
# job, education ä»¥çœ¾æ•¸ã€å¹³å‡æ•¸å–ä»£ 'unknown' å€¼, poutcome å›  unknown ç­†æ•¸å¾ˆå¤šï¼Œå°‡ unknown è¦–ç‚ºä¸€é¡åˆ¥
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values="unknown", strategy="most_frequent")

# job çš„ unknown åƒ…å ç´„ 0.8%ï¼Œé€éçœ¾æ•¸å¡«è£œ
nan_columns = ["job"]
data[nan_columns] = imp.fit_transform(data[nan_columns])

å«æœ‰ 'unknown' å€¼çš„æ¬„ä½:
job: 288 ç­†
education: 1857 ç­†
contact: 13020 ç­†
poutcome: 36959 ç­†

### Feature Selection
    ğŸ‘ä¿ç•™ age ï¼ŒåŸå› : å¹´é½¡å½±éŸ¿ç†è²¡ç¿’æ…£ã€é¢¨éšªæ‰¿å—åº¦ï¼Œèˆ‡é‡‘èç”¢å“æ¥å—åº¦é«˜åº¦ç›¸é—œã€‚
    ğŸ‘ä¿ç•™ job ï¼ŒåŸå› : è·æ¥­åæ˜ æ”¶å…¥ã€ç©©å®šæ€§åŠç¤¾ç¶“åœ°ä½ã€‚
    ğŸ‘ä¿ç•™ marital ï¼ŒåŸå› : å©šå§»ç‹€æ…‹å½±éŸ¿å®¶åº­è²¬ä»»èˆ‡æ¶ˆè²»æ¨¡å¼ã€‚
    ğŸ‘ä¿ç•™ education ï¼ŒåŸå› : æ•™è‚²ç¨‹åº¦å½±éŸ¿ç†è²¡çŸ¥è­˜èˆ‡ç”¢å“æ¥å—åº¦ã€‚
    âš ï¸ç¨å¾Œè§€å¯Ÿ default çš„è®Šè—è¡“ ï¼Œå› ç‚ºå¹¾ä¹æ‰€æœ‰å€¼ç‚º "no"
    ğŸ‘ä¿ç•™ balance ï¼ŒåŸå› : å­˜æ¬¾é¤˜é¡ç›´æ¥åæ˜ è²¡å‹™èƒ½åŠ›ã€‚
    ğŸ‘ä¿ç•™ housing ï¼ŒåŸå› : æ‰›æˆ¿è²¸å¯èƒ½æ²’éŒ¢å®šå­˜ã€‚
    ğŸ‘ä¿ç•™ loan ï¼ŒåŸå› : æ‰›è²¸æ¬¾ä¹Ÿå¯èƒ½å½±éŸ¿å®šå­˜èƒ½åŠ›ã€‚
    ğŸ‘ä¿ç•™ contact ï¼ŒåŸå› : æœ‰è¯çµ¡å®¢æˆ¶å¯èƒ½æ¯”è¼ƒæœƒé—œæ³¨é‡‘èå•†å“ã€‚
    âŒåˆªé™¤ dayã€month æ¬„ä½ï¼Œå› ç‚ºå…·æœ‰æ™‚åºæ€§ï¼Œåƒ…ç‚ºè¡ŒéŠ·è¯çµ¡æ—¥æœŸï¼Œèˆ‡å®¢æˆ¶è²¡å‹™è¡Œç‚ºç„¡é—œã€‚
    âŒåˆªé™¤ duration æ¬„ä½ï¼Œå› ç‚ºåœ¨çœŸå¯¦é æ¸¬æƒ…å¢ƒä¸­ï¼Œç„¡æ³•äº‹å…ˆå¾—çŸ¥é€šè©±æŒçºŒæ™‚é–“ã€‚
    ğŸ‘ä¿ç•™ campaignã€pdaysã€previous æ¬„ä½ï¼Œå› ç‚ºé€™äº›æ¬„ä½åæ˜ éå»è¡ŒéŠ·æ¥è§¸é »ç‡èˆ‡æ•ˆæœï¼Œå°é æ¸¬æœ‰å¹«åŠ©ã€‚
    ğŸ‘ä¿ç•™ poutcome æ¬„ä½ï¼Œå› ç‚ºéå»è¡ŒéŠ·çµæœå°é æ¸¬æœ‰å¹«åŠ©ã€‚
    
    â­•çµè«–: åˆªé™¤ defaultã€dayã€monthã€duration æ¬„ä½

In [335]:
data.drop(["day", "month", "duration"], axis=1, inplace=True)

# pdays æ¯”èµ·ä¸Šæ¬¡è¯ç¹«é€™å€‹è³‡è¨Šï¼ŒéŠ€è¡Œå¯èƒ½æ›´é‡è¦–æ˜¯å¦æ›¾ç¶“è¯ç¹«éå®¢æˆ¶
# å› æ­¤å°‡ pdays è½‰æˆäºŒå…ƒæ¬„ä½ contacted
data["contacted"] = np.where(data["pdays"] > 0, 1, 0)
data.drop("pdays", axis=1, inplace=True)

print(data["default"].var())
data.drop("default", axis=1, inplace=True)

data.head()

0.0177020201735023

,age,job,marital,education,balance,housing,loan,contact,campaign,previous,poutcome,y,contacted
0,58,management,married,tertiary,2143,1,0,unknown,1,0,unknown,0,0
1,44,technician,single,secondary,29,1,0,unknown,1,0,unknown,0,0
2,33,entrepreneur,married,secondary,2,1,1,unknown,1,0,unknown,0,0
3,47,blue-collar,married,unknown,1506,1,0,unknown,1,0,unknown,0,0
4,33,blue-collar,single,unknown,1,0,0,unknown,1,0,unknown,0,0

In [336]:
categorical_columns = data.select_dtypes(include=["object"]).columns
print("é¡åˆ¥æ¬„ä½", categorical_columns)

# æ‰€æœ‰çš„æ•¸å€¼æ¬„ä½çš„åç¨±
numeric_cols_index = data.select_dtypes(include=["int64", "float64"]).columns

numeric_cols = numeric_cols_index[data[numeric_cols_index].nunique() > 2].tolist()
binary_cols = numeric_cols_index[data[numeric_cols_index].nunique() == 2].tolist()

print("å¤šå€¼æ•¸å€¼æ¬„ä½ (nunique > 2):", numeric_cols)
print("äºŒå…ƒæ¬„ä½ (nunique = 2):", binary_cols)

é¡åˆ¥æ¬„ä½ Index(['job', 'marital', 'education', 'contact', 'poutcome'], dtype='object')
å¤šå€¼æ•¸å€¼æ¬„ä½ (nunique > 2): ['age', 'balance', 'campaign', 'previous']
äºŒå…ƒæ¬„ä½ (nunique = 2): ['housing', 'loan', 'y', 'contacted']

### One-Hot Encoding

In [337]:
from sklearn.preprocessing import OrdinalEncoder

# educationã€poutcome å…·æœ‰é †åºæ€§ï¼Œä½¿ç”¨ Ordinal Encoding
education_order = [
    "unknown",  # 0
    "primary",  # 1
    "secondary",  # 2
    "tertiary",  # 3
]

oe = OrdinalEncoder(categories=[education_order])
data["education"] = oe.fit_transform(data[["education"]])

poutcome_order = [
    "unknown",  # 0
    "failure",  # 1
    "other",  # 2
    "success",  # 3
]

oe = OrdinalEncoder(categories=[poutcome_order])
data["poutcome"] = oe.fit_transform(data[["poutcome"]])

# å†æ¬¡ç¢ºèªé¡åˆ¥æ¬„ä½
categorical_columns = data.select_dtypes(include=["object"]).columns
print("å‰©é¤˜çš„é¡åˆ¥æ¬„ä½:", categorical_columns)

# å‰©é¤˜çš„é¡åˆ¥æ¬„ä½ä½¿ç”¨ One-Hot Encoding
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False, drop="first")
data_encoded = ohe.fit_transform(data[categorical_columns])
data_encoded = pd.DataFrame(
    data_encoded,
    columns=ohe.get_feature_names_out(categorical_columns),
)
data = pd.concat([data, data_encoded], axis=1)
data.drop(categorical_columns, axis=1, inplace=True)

data.head()

å‰©é¤˜çš„é¡åˆ¥æ¬„ä½: Index(['job', 'marital', 'contact'], dtype='object')

,age,education,balance,housing,loan,campaign,previous,poutcome,y,contacted,...,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,marital_married,marital_single,contact_telephone,contact_unknown
0,58,3.0,2143,1,0,1,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,44,2.0,29,1,0,1,0,0.0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
2,33,2.0,2,1,1,1,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,47,0.0,1506,1,0,1,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,33,0.0,1,0,0,1,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

### è®Šç•°æ•¸ç‰¹å¾µç¯©é¸

In [338]:
from sklearn.feature_selection import VarianceThreshold

# åˆ†é›¢ç‰¹å¾µèˆ‡æ¨™ç±¤
X = data.drop("y", axis=1)
y = data["y"]

variances = X.var().sort_values()
print(variances)

# ç§»é™¤è®Šç•°é‡ä½æ–¼ 0.03 çš„ç‰¹å¾µ
low_variance_features = variances[variances < 0.03]
print(low_variance_features)

vt = VarianceThreshold(threshold=0.021)
X_filtered = vt.fit_transform(X)
selected_columns = X.columns[vt.get_support()]

X = pd.DataFrame(X_filtered, columns=selected_columns)
print("ç¯©é¸å¾Œçš„ç‰¹å¾µæ¬„ä½:", X.columns.tolist())

job_student          2.031717e-02
job_housemaid        2.667531e-02
job_unemployed       2.799042e-02
job_entrepreneur     3.180916e-02
job_self-employed    3.370611e-02
job_retired          4.756972e-02
contact_telephone    6.014627e-02
job_services         8.344015e-02
loan                 1.345569e-01
job_technician       1.398019e-01
contacted            1.492812e-01
job_management       1.654372e-01
job_blue-collar      1.725126e-01
marital_single       2.028702e-01
contact_unknown      2.050533e-01
marital_married      2.396149e-01
housing              2.468876e-01
poutcome             4.878594e-01
education            6.063797e-01
previous             5.305841e+00
campaign             9.597733e+00
age                  1.127581e+02
balance              9.270599e+06
dtype: float64
job_student       0.020317
job_housemaid     0.026675
job_unemployed    0.027990
dtype: float64
ç¯©é¸å¾Œçš„ç‰¹å¾µæ¬„ä½: ['age', 'education', 'balance', 'housing', 'loan', 'campaign', 'previous', 'poutcome', 'contacted', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired', 'job_self-employed', 'job_services', 'job_technician', 'job_unemployed', 'marital_married', 'marital_single', 'contact_telephone', 'contact_unknown']

### æ¨™æº–åŒ–

In [339]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X[numeric_cols] = scaler.fit_transform(X[numeric_cols])
X.head()

,age,education,balance,housing,loan,campaign,previous,poutcome,contacted,job_blue-collar,...,job_management,job_retired,job_self-employed,job_services,job_technician,job_unemployed,marital_married,marital_single,contact_telephone,contact_unknown
0,1.606965,3.0,0.256419,1.0,0.0,-0.569351,-0.25194,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.288529,2.0,-0.437895,1.0,0.0,-0.569351,-0.25194,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
2,-0.747384,2.0,-0.446762,1.0,1.0,-0.569351,-0.25194,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.571051,0.0,0.047205,1.0,0.0,-0.569351,-0.25194,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,-0.747384,0.0,-0.447091,0.0,0.0,-0.569351,-0.25194,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [340]:
## ç”¢å‡º csv æª”æ¡ˆ
processed_data = X.copy()
processed_data["y"] = y

# è¼¸å‡º CSV
processed_data.to_csv(
    "../../output/week7_hw_data_processing/feature_select_by_myself.csv", index=False
)
print(
    "âœ… CSV å·²è¼¸å‡ºåˆ° ../../output/week7_hw_data_processing/feature_select_by_myself.csv"
)

âœ… CSV å·²è¼¸å‡ºåˆ° ../../output/week7_hw_data_processing/feature_select_by_myself.csv

### é æ¸¬1. Linear Regression

In [341]:
# Linear Rregression

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression

# è®€å–å‰è™•ç†å¾Œçš„è³‡æ–™
data = pd.read_csv("../../output/week7_hw_data_processing/feature_select_by_myself.csv")
X = data.drop(columns=["y"]).values
y = data["y"].values

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=1000
)
lr = LinearRegression()
lr.fit(X_train, y_train)
print("é æ¸¬å€¼", lr.predict(X_test))
print("å¯¦éš›å€¼", y_test)
print("r2 socre", lr.score(X_test, y_test))

é æ¸¬å€¼ [0.01103602 0.06266595 0.12542766 ... 0.17712698 0.02450225 0.00438538]
å¯¦éš›å€¼ [0 0 0 ... 0 0 0]
r2 socre 0.12282797111681054

In [342]:
# Linear Regression with k-fold cross validation

scores = cross_val_score(lr, X, y, cv=7, scoring="r2")
print("Cross-validation scores:", scores)

Cross-validation scores: [-0.05653131 -0.07740829 -0.09060994 -0.24342791 -0.06022172 -0.02787458
 -0.28776528]

In [343]:
# Ridge Regression
from sklearn.linear_model import RidgeCV

rgs = RidgeCV(
    alphas=(
        1.0,
        0.5,
        0.1,
        0.01,
    ),
)

rgs.fit(X_train, y_train)
print("Ridge scores", rgs.score(X_test, y_test))
print("Ridge best alpha", rgs.alpha_)

rg_scores = cross_val_score(rgs, X, y, cv=7, scoring="r2")
print("Ridge Cross-validation scores:", rg_scores)

Ridge scores 0.12282466559090077
Ridge best alpha 1.0
Ridge Cross-validation scores: [-0.0565183  -0.07741149 -0.09057633 -0.24337301 -0.06023058 -0.02789867
 -0.28792042]

In [344]:
# Lasso Regression

from sklearn.linear_model import LassoCV

lss = LassoCV(
    alphas=(1.0, 0.5, 0.1, 0.01, 0.001),
)

lss.fit(X_train, y_train)
print("Lasso scores", lss.score(X_test, y_test))
print("Lasso best alpha", lss.alpha_)
ls_scores = cross_val_score(lss, X, y, cv=7, scoring="r2")
print("Lasso Cross-validation scores:", ls_scores)

Lasso scores 0.12023411902041536
Lasso best alpha 0.001
Lasso Cross-validation scores: [-0.04443307 -0.07622161 -0.08148542 -0.21899765 -0.06446247 -0.00089073
 -0.37296232]

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.feature_selection import SelectFromModel

pf = PolynomialFeatures(degree=2)
Xp = pf.fit_transform(X)
print("å¤šé …å¼ç‰¹å¾µå¾Œçš„å½¢ç‹€:", Xp.shape)

lr = LinearRegression()
lr.fit(Xp, y)
print("åŸå§‹ RÂ²:", lr.score(Xp, y))

# Step2: SelectFromModel ç¯©é¸ç‰¹å¾µ
sm = SelectFromModel(lr, threshold=0.001)
Xt = sm.fit_transform(Xp, y)
sm.estimator_.score(Xp, y)

lr2 = LinearRegression().fit(Xt, y)
print("ç¯©é¸å¾Œ RÂ²:", lr2.score(Xt, y))

å¤šé …å¼ç‰¹å¾µå¾Œçš„å½¢ç‹€: (45211, 276)
åŸå§‹ RÂ²: 0.15375729814187922
ç¯©é¸å¾Œ RÂ²: 0.15363166909788772